:root.theme-dark {
  --main-bg-color: rgba(0, 0, 40, 1);
  --main-bg-image: url(../images/cover-image-dark.png);
  --main-text-color: rgba(241, 178, 206, 1);
  --accent-color: rgba(255, 0, 112, 1);
  --accent-color-40: rgba(255, 0, 112, 0.4);
  --promo-note-color: rgba(219, 0, 255, 1);
  --title-decor-color: rgba(0, 0, 40, 1);
  --title-decor-bg-color: rgba(255, 0, 112, 1);

  .header__decoration {
    display: block;
  }
}
