:root.theme-light {
  --main-bg-color: rgba(255, 241, 247, 1);
  --main-bg-image: url(../images/cover-image-light.png);
  --accent-color: rgba(53, 52, 48, 1);
  --accent-color-40: rgba(53, 52, 48, 0.4);
  --main-text-color: rgba(53, 52, 48, 1);
  --promo-note-color: rgba(255, 194, 230, 1);
  --title-decor-color: rgba(53, 52, 48, 1);
  --title-decor-bg-color: rgba(255, 141, 203, 1);

  .header__decoration {
    display: none;
  }

  .header__promo-note,
  .grid__list {
    --accent-color: rgba(255, 141, 203, 1);
  }

  .footer__text {
    --accent-color: rgba(255, 141, 203, 1);

    @media (width >= 1024px) {
      --accent-color: rgba(255, 0, 112, 1);
    }
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --main-bg-color: rgba(255, 241, 247, 1);
    --main-bg-image: url(../images/cover-image-light.png);
    --accent-color: rgba(53, 52, 48, 1);
    --accent-color-40: rgba(53, 52, 48, 0.4);
    --main-text-color: rgba(53, 52, 48, 1);
    --promo-note-color: rgba(255, 194, 230, 1);
    --title-decor-color: rgba(53, 52, 48, 1);
    --title-decor-bg-color: rgba(255, 141, 203, 1);

    .header__decoration {
      display: none;
    }

    .header__promo-note,
    .grid__list {
      --accent-color: rgba(255, 141, 203, 1);
    }

    .footer__text {
      --accent-color: rgba(255, 141, 203, 1);

      @media (width >= 1024px) {
        --accent-color: rgba(255, 0, 112, 1);
      }
    }
  }
}
